@charset "utf-8";
html, body, ul, li, table, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
	scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  font-feature-settings: "palt";
  text-align: justify;
  line-height: 1.3;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
br {
  height: 0;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
header, footer {
  width: calc(100% - 20px);
  padding: 5px 10px;
}
header {
  background-color: rgba(255, 255, 255, .9);
	z-index: 99999;
}
header a.inner {
  display: block;
  width: calc(100% - 20px);
  max-width: 1200px;
  margin: 0 auto;
}
header h1#logo img {
  width: 250px;
}
section {
  width: calc(100% - 20px);
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}
h1 img {
  display: block;
  margin-bottom: 5px;
}
h1 {
  font-size: 1em;
  font-weight: normal;
  color: #888;
}
h2 {
  font-size: 1.8em;
  margin: 10px 0px 10px;
  border-left: 8px solid #232f3e;
  padding-left: 5px;
  color: #37475A;
}
h3 {
  margin: 0px 0px 5px;
}


/* メニュー */
#nav-content {
  width: 100%;
  background: #fff;
}
#nav-drawer {
  position: relative;
}
.nav-unshown {
  display: none;
}
nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}
nav li {
  float: left;
}
nav li:not(:last-child) {
  border-right: 1px solid #ddd;
}
nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: #111;
}
/*
nav li a:hover:not(.active) {
  background-color: #f5f5f5;
}
 */
/* /メニュー */
.breadCrumb {
  width: calc(100% - 20px);
  max-width: 1200px;
  margin: 0 auto;
}
/* ベストレート */
.shop_container {
  width: calc(100% - 32px);
  padding: 10px;
  display: block;
  border: 6px solid #EEE;
  margin-bottom: 15px;
  /* リボン用 */
  position: relative;
}
.shop_container .title {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.1;
  margin-bottom: 10px;
  color: #c00;
}
.shop_container .title .icon-trophy {
  color: #C90;
  font-size: 1em;
}
.shop_container .title span {
  font-size: .6em;
  font-weight: normal;
  color: #AAA;
  margin-left: 8px;
}
.shop_container:after {
  content: "";
  clear: both;
  display: block;
}
.shop_container .shopInfo {
  width: calc(100% - 380px);
  float: left;
}
.shop_container .shopInfo .shopName {
  font-size: 1.4em;
  font-weight: bold;
  color: #54667b;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 2px;
  margin-bottom: 3px;
}
.shop_container .price {
  font-size: 2em;
  font-weight: bold;
  color: #37475A;
	text-align: left;
}
.shop_container .bestprice {
  color: #a90000;
	text-align: left;
}
.bestRate .price {
  color: #C00;
}
.shop_container img {
  width: 100%;
	max-width: 360px;
  margin-right: 10px;
  float: left;
	border: 5px solid #DDD;
}
.bestRate {
  border-color: #c00;
}
/* /ベストレート */
.shopInfo .item {
  margin-bottom: 3px;
  padding-bottom: 2px;
  color: #111;
}
.shopInfo .item:not(:last-child) {
  border-bottom: 1px dotted #000;
}
/* リボン */
span[class^="ribbon_"] {
  display: inline-block;
  position: absolute;
  top: -6px;
  left: 10px;
  margin: 0;
  padding: 10px 0;
  z-index: 2;
  width: 40px;
  text-align: center;
  font-size: 17px;
  color: white;
}
span[class^="ribbon_"]:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-bottom: 10px solid transparent;
}
.ribbon_1st {
background: linear-gradient(0deg, rgba(235,220,190,1) 0%, rgba(195,150,75,1) 100%);}
.ribbon_1st:after {
  border-left: 20px solid rgba(235,220,190,1);
  border-right: 20px solid rgba(235,220,190,1);
}
.ribbon_2nd {
  background: linear-gradient(0deg, rgba(176, 176, 176, 1) 0%, rgba(99, 99, 99, 1) 100%);
}
.ribbon_2nd:after {
  border-left: 20px solid rgba(176, 176, 176, 1);
  border-right: 20px solid rgba(176, 176, 176, 1);
}
.ribbon_3rd {
background: linear-gradient(0deg, rgba(231,174,98,1) 0%, rgba(181,86,0,1) 100%);}
.ribbon_3rd:after {
  border-left: 20px solid rgb(231,174,98);
  border-right: 20px solid rgb(231,174,98);
}

input[type=checkbox] {
  display: none;
}
input[type="checkbox"].checkbox:checked + label {
  background: #2d3d50;
  border-color: #2d3d50;
  color: #ffffff;
}
dl.choice_checkbox dd {
  margin-inline-start: 0;
}
dl.choice_checkbox dd:after {
  content: "";
  clear: both;
  display: block;
}
dl.choice_checkbox dt {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.check_label:hover {
  background-color: #f1f7ff;
}
.check_label {
  display: block;
  float: left;
  width: calc(25% - 4px - 30px/4);
  height: 45px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  color: #666;
  border: 2px solid #999;
  border-radius: 5px;
  margin-bottom: 10px;
}
.check_label:not(:nth-child(8n)) {
  margin-right: 10px;
}
.btn_search {
  outline: none;
  appearance: none;
  border: none;
  display: block;
  padding: 0.5em 3em;
  text-decoration: none;
  background: #232f3e;
  color: #FFF;
  border-radius: 100px;
  font-size: 1.4em;
  font-weight: bold;
  margin: -5px auto 10px;
}
.btn_search:active {
  transform: translateY(4px);
  border-bottom: none;
  margin-bottom: 14px;
}
.category_container {margin-top: 3px;}
.category_container span {background: #BBB; color: #FFF; padding: 3px 5px; border-radius:3px; font-size: 0.8em; margin-bottom: 1px; display: inline-block;}
.category_container span:not(:last-child){margin-right: 3px;}

.news_icon {color: #FFF; padding: 3px 5px; border-radius:3px; font-size: 0.8em; display: inline-block; animation: blink 1s step-end infinite; -webkit-animation: blink 3s step-end infinite; margin: 3px 0 1px;}
.news_icon:not(:last-child){margin-right: 3px;}
.news_icon.timesale{background: #f24a6a;}
.news_icon.coupon{background: #0b6dbf;}
.news_icon.event{background: #52b123;}

.btn_banner{
outline: none;
    appearance: none;
    border: none;
    display: block;
    padding: 0.5em 3em;
    text-decoration: none;
    background: #232f3e;
    color: #FFF;
    border-radius: 100px;
    font-size: 1em;
    font-weight: bold;
    margin: 10px auto 10px;
	text-align: center; 
	width: 100%;
	max-width: 300px;
}
#txt_wrapper{line-height: 1.5em;}

@keyframes blink {
  75% { opacity: 0.0; }
}
@-webkit-keyframes blink {
  75% { opacity: 0.0; }
}

/* /チェックボックス */

.column3to2 .title,.column3to1 .title {
  margin: 20px 0 5px;
  font-weight: bold;
}
.column3to2 a .shopName, .column3to1 a .shopName {
  color: #232f3e;
}

a .shopName {	position: relative;
	height: 2.4em;
	overflow: hidden;
	width:calc(55% - 5px);
}
a .shopName:before, a .shopName:after {
	position: absolute;
	background: #fff;
}

a .shopName:before {
	content: "…";
	bottom: 0;
	right: 0;
}

a .shopName:after  {
	content: "";
	width: 100%;
	height: 100%;
	
}

a .price{font-weight: bold; margin-top: 3px;}

.column3to2 .title:before, .column3to1 .title:before {
  font-family: 'icomoon';
  content: "\e99e";
  margin-right: 3px;
  color: #dec27f;
}
.column3to2 a:after,.column3to1:after {
  content: "";
  clear: both;
  display: block;
}


  #to_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 0.8em;
    color: #fff;
	cursor: grab;
  }
  #to_top span {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80px;
    text-align: center;
  }
footer {
  background: #232f3e;
  color: #99a5b4;
  line-height: 1.8;
}
footer a.logo img {
  width: 30%;
  max-width: 150px;
  display: block;
  margin: 10px auto;
}
footer .column_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
footer .column {
  float: left;
  width: 50%;
}
footer .column3 {
  float: left;
  width: 33%;
}
footer .column a, footer .column3 a {
  display: block;
  color: #fff;
}

footer [class^="icon-"] {
  color: #495769;
}
/* icomoon */
.icon-trophy {
  color: #FC3;
}
[class^="icon-"], [class*=" icon-"] {
  margin-right: 5px;
}



/* アコーディオン */
.acd-check {
  display: none;
}
.acd-label { /* 通常ラベル */
  background: #444;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 10px 10px 10px 70px;
  position: relative;
}
.acd-label:before { /* チェック前+ */
  background: #333;
  box-sizing: border-box;
  content: '\ea0a';
  display: block;
  font-family: 'icomoon';
  height: 40px;
  padding: 10px 20px;
  position: absolute;
  left: 0;
  top: 0px;
}
.acd-content {
  display: none;
}
.acd-check:checked + .acd-label:before { /* チェック後- */
  content: '\ea0b';
  background: #000;
}
.acd-check:checked + .acd-label + .acd-content {
  display: block;
	background: #EEE;
	padding:10px;
	margin-bottom: 20px;
}
.acd-check:checked + .acd-label /* チェック後ラベル */ {
  background: #222;
}

.acd-content dl.choice_checkbox {margin-block-start: 0;
    margin-block-end: 0;}
.acd-content dl.choice_checkbox label{background: #FFF;}

/* /アコーディオン */





/* icomoon CSS差し替えはここから */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p2w00f');
  src:  url('fonts/icomoon.eot?p2w00f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p2w00f') format('truetype'),
    url('fonts/icomoon.woff?p2w00f') format('woff'),
    url('fonts/icomoon.svg?p2w00f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line:before {
  content: "\e906";
  color: #00c300;
}
.icon-envelope:before {
  content: "\e900";
}
.icon-checkmark-outline:before {
  content: "\e901";
}
.icon-bookmark-outline:before {
  content: "\e90a";
}
.icon-arrow-outline-up:before {
  content: "\e902";
}
.icon-arrow-outline-right:before {
  content: "\e903";
}
.icon-arrow-outline-left:before {
  content: "\e904";
}
.icon-arrow-outline-down:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e907";
}
.icon-home3:before {
  content: "\e923";
}
.icon-pencil:before {
  content: "\e908";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-profile:before {
  content: "\e927";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location2:before {
  content: "\e948";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-automobile:before {
  content: "\e909";
}


/* 汎用 */
.mt20{margin-top: 20px;}
.mb20{margin-bottom: 20px;}

/* 年齢認証モーダル */
.modal { position:fixed; display:none; z-index:9999999; top:40%; left:50%; width:400px; height:200px; margin:-120px 0 0 -220px; padding:20px; text-align:center; line-height:1.4; }
.modal a { cursor:pointer; display:block; float:left; padding:3%; width:24%; background:#000; }
.modal a.leave_modal { background:#ddd; color: #999; }
.modal a.leave_modal { margin-right:10%; margin-left:15%; }
.modal a.close_modal { color:#fff; }
.modal:after {content: ""; clear: both; display: block;}
#modal_logo {width:80%; max-width:300px;}


@media screen and (max-width:1000px) {
  .check_label {
    float: left;
    width: calc(50% - 4px - 5px);
  }
  .check_label:not(:nth-child(8n)) {
    margin-right: 0;
  }
  .check_label {
    margin: 3px;
  }
	dl.choice_checkbox dt {margin-top: 7px; margin-bottom: 5px;}
  footer .column3 {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  footer .column3 a {
    padding: 15px 0;
  }
  footer .column3 a:not(:last-child) {
    border-bottom: 1px solid #344252;
  }
}
@media screen and (max-width:700px) {
  .shop_container .shopInfo {
    width: 100%;
    margin-right: 0px;
	  float: none;
  }
  .shop_container .shopInfo:after {
    content: "";
    clear: both;
    display: block;
  }
	.shop_container img{float: none; display: block; margin: 0 auto 10px; max-width: 360px; width:calc(100% - 10px);}
  footer .column {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  footer .column a {
    padding: 15px 0;
  }
  footer .column a:not(:last-child) {
    border-bottom: 1px solid #344252;
  }
}
@media screen and (max-width:480px) {
  header {
    position: fixed;
  }
  .breadCrumb {
    padding-top: 80px;
  }
  /* メニュー */
  #nav-open {
    position: fixed;
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    top: 20px;
    right: 10px;
 	  z-index: 999999;
 }
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #000;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999999;
    width: 90%;
    max-width: 300px;
    height: 100%;
    transition: .3s ease-in-out;
    transform: translateX(105%);
  }
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
  }
  nav li {
    float: none;
    width: 100%;
  }
  nav li:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
  /* /メニュー */
  .check_label:before {
    font-family: 'icomoon';
    content: "\ea53";
    margin-right: 3px;
  }
  .check_label {
    float: none;
    width: calc(100% - 20px);
    height: 45px;
    text-align: left;
    line-height: 45px;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 10px;
    margin: 0;
  }
  .check_label:not(:nth-child(8n)) {
    margin-right: 0;
  }
  .check_label:not(:last-child) {
    border-bottom: 1px solid #CCC;
  }
  input[type="checkbox"].checkbox:checked + label:not(:last-child) {
    border-bottom: 1px solid #3b4e66;
  }
  input[type="checkbox"].checkbox:checked + label:before {
    font-family: 'icomoon';
    content: "\ea52";
    margin-right: 3px;
  }

}
@media screen and (max-width:374px) {
  /* ヘッダキャッチコピーが2行になった時用 */
  .breadCrumb {
    padding-top: 100px;
  }
}